<div class="sidebar gradient-custom-2" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/admin" class="simple-text">
          ADMIN
        </a>
        </div>
        <ul class="nav">
            <li class="nav-item">


                <div class="dropdown">
                    
                    <button class=" nav-link dropdown-btn" href="#">
                       
                        <i class="fas fa-user-alt"></i>
                       <p >Quản lí tài khoản</p> 
                       <p class="fa fa-caret-down"></p>
                      
                    </button>
                    
                
                    <ul class="dropdown-container">
                        <a class="dropdown_box btn"   href="/admin/waitActive">CHỜ KÍCH HOẠT</a>
                        <a class="dropdown_box btn"  href="/admin/actived">ĐÃ KÍCH HOẠT</a>
                        <a class="dropdown_box btn" href="/admin/banning">ĐANG KHÓA</a>
                        <a class="dropdown_box btn"  href="/admin/bannedForever">ĐANG KHÓA VÔ THỜI HẠN</a>
                    </ul>


                </div>



            </li>
            <li>
                <a class="nav-link" href="/admin/acceptTransaction">
                    <i class="fas fa-exchange-alt"></i>
                    <p>Phê duyệt giao dịch</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/changePasswordadmin">
                    <i class="fas fa-undo"></i>
                    <p>Đổi mật khẩu</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link" href="/user/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log out</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="/Js/main.js"></script>