<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav-user.ejs') %>
                <div class="main-panel">
                    <section class="vh-100 gradient-custom-2">
                        <div class="container py-5 h-100">
                            <div class="row d-flex align-items-center justify-content-center h-100">
                                <div class="col-md-8 col-lg-7 col-xl-6">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
                                </div>
                                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                                    <form action="/user/changePassworduser" method="post">
                                        <!-- Password cũ -->
                                        <div class="form-group mb-4">
                                            <label class="form-label" for="oldpass">Nhập password cũ</label>
                                            <input type="password" name="oldpass" id="oldpass" class="form-control form-control-lg" />

                                        </div>
                                        <!-- Confirm password 1 input -->
                                        <div class="form-group mb-4">
                                            <label class="form-label" for="confirm1">Nhập password mới</label>
                                            <input type="password" name="confirm1" id="confirm1" class="form-control form-control-lg" />

                                        </div>

                                        <!-- Confirm password 2 input -->
                                        <div class="form-group mb-4">
                                            <label class="form-label" for="confirm2">Xác nhận password mới</label>
                                            <input type="password" name="confirm2" id="confirm2" class="form-control form-control-lg" />

                                        </div>
                                        <% if(error){ %>
                                            <div class="alert alert-danger mb-3" id="alert-message">
                                                <strong>Lưu ý!</strong>
                                                <%= error %>
                                            </div>
                                            <%}%>
                                                <!-- Submit button -->
                                                <button type="submit" class="btn btn-primary btn-lg gradient-custom">Xác
                                                    nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
        </div>
    </body>
    <script src="/Js/main.js"></script>

    </html>

    <script>
        createAutoClosingAlert(".alert-danger", 2000);
    </script>