<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav-user.ejs') %>
                <div class="main-panel ">
                    <div class="bgimg gradient-custom">
                        <div class="topleft">
                            <p>E-Wallet</p>
                        </div>
                        <div class="middle">
                            <h1>CHỜ ADMIN XÁC MINH</h1>
                            <hr>
                            <p>
                                <%= pagename %>
                            </p>
                        </div>
                        <div class="bottomleft">
                            <p>Trương Tấn Hùng - Huỳnh Quang Huy - Trần Minh Kha - Lê Triệu Vỷ</p>
                        </div>
                    </div>
                </div>
        </div>
    </body>

    </html>