.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

label {
    font-weight: bold;
}


/* index-admin */

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar,
body>.navbar-collapse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}

.sidebar .sidebar-wrapper,
body>.navbar-collapse .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}

.sidebar .nav li .nav-link p,
body>.navbar-collapse .nav li .nav-link p {
    margin: 0;
    line-height: 31px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
}

.sidebar .nav li .nav-link i,
body>.navbar-collapse .nav li .nav-link i {
    font-size: 28px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}


/* hover sidebar */

.sidebar .nav li:hover .nav-link,
body>.navbar-collapse .nav li:hover .nav-link {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}


/* sang nut logout */

.sidebar .nav li.active .nav-link,
body>.navbar-collapse .nav li.active .nav-link {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li.separator+.nav-item,
body>.navbar-collapse .nav li.separator+.nav-item {
    margin-top: 31px;
}

.sidebar .nav .caret,
body>.navbar-collapse .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 30px;
}

.sidebar .nav .active-pro,
body>.navbar-collapse .nav .active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav .active-pro a,
body>.navbar-collapse .nav .active-pro a {
    color: #FFFFFF !important;
}

.sidebar .nav .nav-link,
body>.navbar-collapse .nav .nav-link {
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
}

.sidebar .logo,
body>.navbar-collapse .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo p,
body>.navbar-collapse .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text,
body>.navbar-collapse .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}

.sidebar:after,
.sidebar:before,
body>.navbar-collapse:after,
body>.navbar-collapse:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar:before,
body>.navbar-collapse:before {
    opacity: .33;
    background: #000000;
}

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}


/* co dinh sidebar */

.sidebar,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}




.card {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: start;
    box-shadow: 4px 8px 16px 2px black;
    border-radius: 10px;
    outline: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.staff_id {
    display: none;
    ;
}

.product_id {
    display: none;
}

#img_size {
    width: 250px;
    height: 150px;
}

.customer_id {
    display: none;
}

.customer_id_custom {
    display: none;
}

.hidden {
    display: none;
}

.bill_id {
    display: none;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

[name="fas"] {
    font-size: 20px;
}

section[name="contact"] {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* change pass */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


/* sidebar admin dropdown */

.dropdown-btn {
    padding: 6px 40px 6px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.dropdown-btn:hover {
    color: #2184ed;
}

.dropdown-container {
    display: none;
    background-color: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    padding-left: 16px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown_box {
    display: block;
    border: none;
    background: none;
    width: 100%;
    color: #FFFFFF;
    outline: none;
    text-decoration: none;
}


/* Đăng kí để dùng */


/* Set height to 100% for body and html to enable the background image to cover the whole page: */

body,
html {
    height: 100%
}

.bgimg {
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}


/* Position text in the top-left corner */

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}


/* Position text in the bottom-left corner */

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}


/* Position text in the middle */

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Style the <hr> element */
